@font-face {
  font-family: "Barlow";
  src: url(../font/Barlow-Regular.ttf);
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url(../font/Fraunces_9pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* core styles */

.section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.section-subtitle {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* // core styles */

/* Header section */

.header {
  margin: 44px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin-left: 33px;
  list-style-type: none;
}

.header-link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  text-decoration: none;
}

/* // Header section */

/* Footer section */

.footer {
  background: #2c343e;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 85px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-nav {
  margin-right: 102px;
}

.footer-socials a {
  margin-left: 24px;
}

/* // Footer section */



/* -------------- For tablets --------------- */

@media only screen and (max-width:768px) {

  .container {
    max-width: 768px;
    padding: 0 39px;
  }

  .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  
  .section-subtitle {
    font-size: 15px;
    line-height: 25px;
  }

  /* Header section */

.header {
  margin: 53px 0;
}



/* // Header section */

/* Footer section */

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 47px 85px;
}

.footer-links {
  margin-bottom: 34px;
}

.footer-nav {
  margin-right: 0;
  margin-bottom: 65px;
}

.footer-socials a {
  margin-left: 24px;
}

/* // Footer section */

}


/* --------------// For tablets --------------- */











/* -------------- For mobiles --------------- */

@media only screen and (max-width:375px) {

  .container {
    max-width: 375px;
    padding: 0 24px;
  }

  .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  
  .section-subtitle {
    font-size: 15px;
    line-height: 25px;
  }

  /* Header section */

.header {
  margin: 33px 0;
}

.header__inner img{
  width: 163px;
  height: 18px;
}



.nav-items {
  display: none;
}

/* // Header section */

/* Footer section */

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 55px 55px;
}

.footer-links {
  margin-bottom: 49px;
}

.footer-nav {
  margin-right: 0;
  margin-bottom: 50px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-item {
  margin-bottom: 24px;
}
/* // Footer section */

}


/* --------------// For mobiles --------------- */